/* Start Main Rules */

body {
    background-color: #F4F4F4;
    font-size: 16px;
}
h1 {
    text-align: center;
    color: #787878;
}

/* End Main Rules */



/* Start Bootstrap nav Edit */  

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 1em;
}

.upper-bar {
    background-color: #f8f9fa; /* لون الخلفية اختياري */
    padding: 5px 0;
}

.upper-bar-cont {
    display: flex;
    justify-content: flex-end; /* نقل العناصر لأقصى اليمين */
    align-items: center; /* محاذاة عمودية إذا كان هناك عناصر أخرى */
}

.nav-login {
    font-size: 16px;
    color: #FFF; /* لون النص */
    text-decoration: none;
}

.nav-login:hover {
    color: #FFF; /* لون عند التمرير */
}

.upper-bar .my-info {
    margin-left:6px ;
    background-color: #727170;
}

.upper-bar .my-info .text {
    color:#FFF;

}

.upper-bar .my-image {
    width: 40px;
    height: 40px;
}

/* End Bootstrap nav Edit */

/* Start Login Page */
.login-page .signup-card {
    display: none;
}

.h1-login {
    margin:10px 0 30px 0
}

.login-page [data-class="login-card"].selected {
    color:#0D6EFD;

}
.login-page [data-class="signup-card"].selected {
    color:#198754;

}
.login-page h1 {
    color:#C0C0C0
}
.login-page h1 span {
    cursor: pointer;
}

.login-card , .signup-card {
    width:500px;
    
}
.login-card .card-header {
    font-size: 20px;
    color:#0D6EFD;
    font-weight: bold;
}
.signup-card .card-header {
    font-size: 20px;
    color:#198754;
    font-weight: bold;
}


/* End Login Page */

/* Start Categories Page */


.item-box {
    position:relative;
    padding: 20px 15px 0 20px;
    border-radius: 10px;
    background-color: #fbfafa;
    box-shadow: 10px 10px 6px #cfcfcf;
    margin-bottom: 15px;
}
.item-box .price-tag {
    background-color: #e0dddd;
    padding: 2px 10px;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    color:#0d9d17;
    border-radius: 8px;
}
.item-box img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.item-box .date {
    text-align: right;
    font-size: 13px;
    color:#AAA;
    font-weight: bold;
}

/* End Categories Page*/

/* Start Profile Page */

.block {
    margin : 20px 0 0 ;
}

.information ul {
    padding: 0;
    margin:0;
}

.information ul li {
    padding: 10px;
}

.information ul li:nth-child(odd) {
    background-color: #EEE;
}

.information ul li span {
    display: inline-block;
    width: 150px;
}

.thumbnail .date {
    text-align: right;
    font-size: 13px;
    color:#AAA;
    font-weight: bold;
}

.item-box .not-approved-item {
    position: absolute;
    bottom:8px;
    left: 15px;
    background-color: #da711d;
    padding: 3px 6px;
    border-radius: 10px;
    color: #FFF;
}

.item-box .caption p{
    height: 44px;
    max-height: 44px;
}

.information .my-btn {
    margin-top: 10px;
    background-color: #eee;
}


/* End Profile Page */

/* Start Show Item Page */

.item-info h2 {
    padding:10px;
    margin:0
}

.item-info p {
    padding:10px;
}

.item-info ul li {
    padding: 10px 15px;
    border-radius: 8px;
}

.item-info ul li:nth-child(odd) {
    background-color: #e8e8e8;
}

.item-info ul li span {
    display: inline-block;
    width:120px
}


.add-comment {
    margin: 0 0 10px;
}

.add-comment textarea {
    display: block;
    margin-bottom: 10px;
    width:500px;
    height: 120px;
}

.login-comment {
    font-size: 18px;
    text-align: center;
}
.login-comment a {
    text-decoration: none;
}

.comment-box {
    margin-bottom: 20px;
}

.comment-box img {
    max-width: 120px;
    margin-bottom: 10px;
    display: block;
    margin: auto;
}

.comment-box .lead {
    background-color: #e0e0e0;
    position: relative;
    padding: 10px;
    font-weight: 400;
}

.comment-box .lead:before {
    content: "";
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #e0e0e0 transparent transparent;
    position: absolute;
    left: -28px;
    top: 10px;
}

/* End Show Item Page */

/* Start Our Custom */

.custom-hr {
    border-top: 1px solid #727272 ;
}

/* End Our Custom */

